body{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: teal;
}
header h1{
    text-transform: uppercase;
}
.rows img {
    float: left;
    width: 30%;
    margin: 1rem;
 }
 .rows{
    clear: both;
    border-bottom: thin solid black;
    padding-bottom: 4px;
 }

 header img{
     border-radius: 50%;
     float: left;
     margin-right: 1.2rem;
 }
/*.border{ 
    
    border-bottom: thin solid black;
    padding-bottom: 4px;
}*/
.footer p{
    border-bottom: thin solid black;
    border-top: thin solid black;
    padding-bottom: 4px;
    text-align: center;
    clear: both;
}
