body{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: teal;
}
header h1{
    text-transform: uppercase;
}
.rows img {
    float: left;
    width: 30%;
    margin: 1rem;
 }
 .rows{
    clear: both;
 }

 header img{
     border-radius: 50%;
     float: left;
     margin-right: 1.2rem;
 }
 header{
     border: black, thin, 0.5px;
 }
