body{
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: teal;
}
header h1{
    text-transform: uppercase;
}
.rows img {
    float: left;
    width: 30%;
    margin: 1rem;
 }
 .rows{
    clear: both;
    border-bottom: thin solid black;
    padding-bottom: 4px;
 }

 header img{
     border-radius: 50%;
     float: left;
     margin-right: 1.2rem;
 }
 .form label{
     text-align: left;
 }
 .label{
     float: left;
 }
.form input{
    text-align: center;
}
 .form{
    margin: 10px;
    clear: both;
 }
.footer p{
    border-bottom: thin solid black;
    border-top: thin solid black;
    padding-bottom: 4px;
    text-align: center;
    clear: both;
}
.mapouter{
    position: absolute;
    bottom: 80px;
    right: 480px;
    height: 70px;
    width: 60px;
}