* {
	margin: 0;
}

body, #admin-page {
    background: linear-gradient(340deg, #5e5e5f, #f9faff);
    background-size: 400% 400%;

    -webkit-animation: bodyAnimation 47s ease infinite;
    -moz-animation: bodyAnimation 47s ease infinite;
    animation: bodyAnimation 47s ease infinite;
}


@-webkit-keyframes bodyAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes bodyAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes bodyAnimation {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}

#index,#loginbody,#signUpBody{
    background: linear-gradient(82deg, #131648, #9a9aa2);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 13s ease infinite;
    -moz-animation: AnimationName 13s ease infinite;
    animation: AnimationName 13s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}

.sidebar-brand{
	font-size: x-large;
	margin-top:0;
	margin-left: 0;
	text-decoration:none ;
	color: white;
  
  }
  .wrapper {
	min-height: 100vh;
  }
  .wrapper-navbar-used {
	position: relative;
	
  }
  .wrapper-navbar-fixed {
	margin-top: 0;
  }
  
  .sidebar {
	margin-left: -19rem;
	transition: margin 0.15s ease-out;
	background-color: rgba(25, 49, 78, 0.8);
	box-shadow: 3px 0px 1px 0px #2b2828;

  }
  @media (min-width: 1024px) {
	.sidebar {
	  margin-left: 0;
	}
  }
  .sidebar-toggle {
	margin-left: 0;
	margin-top:0;
	float: right;
	
  }
  .sidebar-toggle-visible {
	margin: left -2rem;;
  }
  @media (max-width:1024px) {
	.sidebar-toggle-visible {
	  margin-left: -19rem;
	}
  }
  .sidebar-rounded-top-right {
	border-top-right-radius: 0.25rem;
  }
  
  .sidebar-menu {
	width: 19rem;
  }
  .sidebar-menu-fixed {
	position: left;
  }


#admin-page {
	/* overflow-y: hidden; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: white;
}

.nav-link {
	color: #dbdbdb;
	align-content: left;
}

.nav-link:hover {
	background-color: #579acb;
	color: black;
	opacity: 0.8;
	/* color: rgba(11, 169, 22, 0.8); */
}

.center-text {
	color: white;
}

#disabled {
	color: white;
	opacity: 0.5;
	font-size: 0.4em;
}

#sticky-sidebar {
	background-color: rgba(25, 49, 78, 0.8);
	min-height: 100vh;
	box-shadow: 3px 0px 1px 0px #2b2828;
}

/**#main {
	/* min-height: 1080px; 
	background-image: url("../imgs/bg-img.jpg");
}*/

::placeholder {
	color: lightblue !important;
}

.sign_up {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sign_up > form {
	background-color: rgb(14, 2, 44);
	border-color: rgba(0, 0, 0, 0.8);
	height: fit-content;
	width: fit-content;
	padding-right: 4%;
}

.inputs {
	box-shadow: 0px 1px 38px -18px rgb(217, 172, 7) !important;
	-webkit-box-shadow: 0px 1px 38px -18px rgb(217, 172, 7)!important;
	-moz-box-shadow: 0px 1px 38px -18px rgb(217, 172, 7)m !important;

	border-color: rgba(0, 0, 0, 0.75) !important;
	background-color: #757575 !important;
	width: 350px !important;
	color:white;
}
.form-control::-webkit-input-placeholder {
	color: red;
}

.login {
	align-items: center;
	justify-content: center;
}

.login > form {
	width: fit-content;
	padding-bottom: 10rem;
	background-color: rgb(14, 2, 44);
	border-color: rgba(0, 0, 0, 0.8);
	margin: auto;
	height: fit-content;
}

.login > form > button {
	align-self: center !important;
}
.login_input {
	display: block;
}
.buttn {
	text-align: center;
}
.bttn {
	display: inline-block;
	width: 15rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .95rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.functionality-links {
	color: white;
	opacity: 0.7;
}
.functionality-links:hover {
	opacity: 1;
	color: white;
	text-decoration: none;
}

.contactus {
	/* display: flex; */
	align-items: flex-start;
	justify-content: start;
	margin-top: 1rem;
	margin-left: 2rem;
	margin-bottom: 3rem;
	width: fit-content;
	border: solid 0.2rem cadetblue;
}



.back{
	color: white;
}
.back:hover{
	text-decoration: none;
	color: rgb(161, 155, 155);
}
.form-group{
	color: white;
}

